*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items:center; 
    background-color: black;
    min-height: 100vh;
    overflow: hidden;
}
.container{
    position: relative;
    width: 100%;
    transform: rotate(-35deg); 
}
.container .box{
    position: relative;
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 100%;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent,#004) ;  */
  animation: animateSurface 1.5s ease-in-out infinite;
}
@keyframes animateSurface {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-200px);
    }
    
}
a{
   margin-left: 400px;
   text-decoration: none;
   font-size: 30px;
   animation: a 2s linear 4 forwards;
}
/* @keyframes a {
    0%{
        transform: translateX(0px);
        opacity: .2;
    }
    100%{
        transform: translateX(-100px) rotate(90deg);
        opacity: 1;
    }
    
} */
.container .box .cube{
    position: relative;
    width: 200px;
    height: 200px;
    background: #03e9f0;  
    box-shadow: 0 0px 5px  rgb(3, 233, 244,1),
    0 0px 25px  rgb(3, 233, 244,1),
    0 0px 50px  rgb(3, 233, 244,1),
    0 0px 100px  rgb(3, 233, 244,1),
    0 0px 200px  rgb(3, 233, 244,0.5),
    0 0px 300px  rgb(3, 233, 244,0.5) ;
   transform-origin: bottom right;
    animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(90deg);
    }
    65%{
        transform: rotate(85deg);
    }
    70%{
        transform: rotate(90deg);
    }
    75%{
        transform: rotate(87.5deg);
    }
    80%,100%{
    transform: rotate(90deg);
  }
}
@keyframes a {
    0%{
        transform: translateX(0px);
        opacity: .2;
    }
    100%{
        transform: translateX(-100px) rotate(90deg);
        opacity: 1;
    }
    
}